<div data-v-03ed5174="" class="parameter-input-list-wrapper">
    <div class="" data-test-id="parameter-item">
        <div data-v-03ed5174="" class="node-credentials _container_svo5k_5">
            <div>
                <div class="_container_1woiu_5" set="" data-test-id="credentials-label"><label
                        class="n8n-input-label _inputLabel_1woiu_10 _heading_1woiu_80 _small_1woiu_89">
                        <div class="_title_1woiu_29"><span
                                class="n8n-text _text-dark_sif4m_46 _size-small_sif4m_28 _regular_sif4m_9">Credential to
                                connect with <!----></span></div><!----><!----><!---->
                    </label>
                    <div class="_input_svo5k_29" data-test-id="node-credentials-select">
                        <div class="n8n-select _container_14brn_20"><!---->
                            <div class="el-select el-select--small" popperappendtobody="false" limitpopperwidth="false">
                                <div class="select-trigger el-tooltip__trigger el-tooltip__trigger">
                                    <!--v-if--><!-- fix: https://github.com/element-plus/element-plus/issues/11415 --><!--v-if-->
                                    <div class="el-input el-input--small el-input--suffix">
                                        <!-- input --><!-- prepend slot --><!--v-if-->
                                        <div class="el-input__wrapper"><!-- prefix slot --><!--v-if--><input
                                                class="el-input__inner" type="text" readonly="" autocomplete="off"
                                                tabindex="0" placeholder="Select Credential"
                                                id="el-id-412-1169"><!-- suffix slot --><span
                                                class="el-input__suffix"><span class="el-input__suffix-inner"><i
                                                        class="el-icon el-select__caret el-select__icon"><svg
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                            <path fill="currentColor"
                                                                d="M831.872 340.864 512 652.672 192.128 340.864a30.592 30.592 0 0 0-42.752 0 29.12 29.12 0 0 0 0 41.6L489.664 714.24a32 32 0 0 0 44.672 0l340.288-331.712a29.12 29.12 0 0 0 0-41.728 30.592 30.592 0 0 0-42.752 0z">
                                                            </path>
                                        </div><!-- append slot --><!--v-if-->
                                    </div>
                                </div>
                            </div>
                        </div><!---->
                    </div>
                </div>
            </div>
        </div>
        <div class="multi-parameter"><!---->
            <div class="_container_1woiu_5" data-test-id="input-label"><label
                    class="n8n-input-label _inputLabel_1woiu_10 _heading_1woiu_80 _underline_1woiu_97 _small_1woiu_89">
                    <div class="_title_1woiu_29"><span
                            class="n8n-text _text-dark_sif4m_46 _size-small_sif4m_28 _bold_sif4m_5">Poll Times
                </label></div>
            <div data-v-10abe54a="" class="fixed-collection-parameter"><!---->
                <div data-v-10abe54a="" class="fixed-collection-parameter-property"><!---->
                    <div data-v-10abe54a="">
                        <div data-v-10abe54a="" class="parameter-item">
                            <div data-v-10abe54a="" class="parameter-item-wrapper">
                                <div data-v-10abe54a="" class="parameter-input-list-wrapper">
                                    <div class="" data-test-id="parameter-item">
                                        <div class="parameter-item"><!---->
                                            <div class="_container_1woiu_5" nodevalues="[object Object]"
                                                data-test-id="input-label"><label
                                                    class="n8n-input-label _inputLabel_1woiu_10 _heading_1woiu_80 _small_1woiu_89 _overflow_1woiu_84">
                                                    <div class="_title_1woiu_29"><span
                                                            class="n8n-text _text-dark_sif4m_46 _size-small_sif4m_28 _regular_sif4m_9">Mode
                                                    <div class="_overlay_1woiu_23"></div>
                                                    <div class="_options_1woiu_18"
                                                        data-test-id="undefined-parameter-input-options-container">
                                                        <div class="_container_tvfco_5">
                                                            <div class="_controlsContainer_tvfco_16">
                                                                <div class=""><span class="_container_13dqp_5"
                                                                        data-test-id="action-toggle"
                                                                        color="foreground-xdark">
                                                                    </span></div>
                                                                <div role="radiogroup"
                                                                    class="n8n-radio-buttons _radioGroup_1kp8c_5"><label
                                                                        role="radio" tabindex="-1"
                                                                        class="n8n-radio-button _container_18alo_5 _hoverable_18alo_11"
                                                                        aria-checked="true">
                                                                        <div class="_button_18alo_11 _active_18alo_11 _small_18alo_43"
                                                                            data-test-id="radio-button-fixed">Fixed
                                                                        </div>
                                                                    </label><label role="radio" tabindex="-1"
                                                                        class="n8n-radio-button _container_18alo_5 _hoverable_18alo_11"
                                                                        aria-checked="true">
                                                                        <div class="_button_18alo_11 _small_18alo_43"
                                                                            data-test-id="radio-button-expression">
                                                                            Expression</div>
                                                                    </label></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                                <div>
                                                    <div data-test-id="parameter-input" class="el-tooltip__trigger">
                                                        <div data-v-cd9c3ad1="" class="parameter-value-container"
                                                            data-test-id="parameter-input-mode"><!---->
                                                            <div data-v-cd9c3ad1=""
                                                                class="parameter-input ignore-key-press"
                                                                style="width: 100%;">
                                                                <div data-v-cd9c3ad1=""
                                                                    class="n8n-select _container_14brn_20"
                                                                    title="Parameter: &quot;pollTimes.item[0].mode&quot;">
                                                                    <!---->
                                                                    <div class="el-select el-select--small"
                                                                        popperappendtobody="false"
                                                                        limitpopperwidth="false">
                                                                        <div
                                                                            class="select-trigger el-tooltip__trigger el-tooltip__trigger">
                                                                            <!--v-if--><!-- fix: https://github.com/element-plus/element-plus/issues/11415 --><!--v-if-->
                                                                            <div
                                                                                class="el-input el-input--small el-input--suffix">
                                                                                </div><!-- append slot --><!--v-if-->
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!---->
                                                        </div><!---->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!---->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-v-10abe54a=""><button data-v-10abe54a=""
                        class="button _button_1qczm_233 _tertiary_1qczm_340 _medium_1qczm_461 _block_1qczm_618"
                        aria-live="polite"><!----><span>Add Poll Time</span></button></div>
            </div>
        </div>
    </div>
    <div class="" data-test-id="parameter-item"><!---->
        <div class="parameter-item"><!---->
            <div class="_container_1woiu_5" nodevalues="[object Object]" data-test-id="input-label"><label
                    class="n8n-input-label _inputLabel_1woiu_10 _heading_1woiu_80 _small_1woiu_89 _overflow_1woiu_84">
                    <div class="_title_1woiu_29"><span
                            class="n8n-text _text-dark_sif4m_46 _size-small_sif4m_28 _regular_sif4m_9">Event
                            <!----></span></div><!---->
                    <div class="_overlay_1woiu_23"></div>
                    <div class="_options_1woiu_18" data-test-id="undefined-parameter-input-options-container">
                        <div class="_container_tvfco_5">
                            <div class="_controlsContainer_tvfco_16">
                                <div class=""><span class="_container_13dqp_5" data-test-id="action-toggle"
                                        color="foreground-xdark">
                                        <div class="el-dropdown"><span
                                                class="_button_13dqp_9 undefined el-tooltip__trigger el-tooltip__trigger"
                                                id="el-id-412-1148" role="button" tabindex="0"
                                                aria-controls="el-id-412-1149" aria-expanded="false"
                                                aria-haspopup="menu"><span
                                                    class="n8n-text _compact_sif4m_38 _size-small_sif4m_28 _regular_sif4m_9 n8n-icon n8n-icon">
                                    </span></div>
                                <div role="radiogroup" class="n8n-radio-buttons _radioGroup_1kp8c_5"><label role="radio"
                                        tabindex="-1" class="n8n-radio-button _container_18alo_5 _hoverable_18alo_11"
                                        aria-checked="true">
                                        <div class="_button_18alo_11 _active_18alo_11 _small_18alo_43"
                                            data-test-id="radio-button-fixed">Fixed</div>
                                    </label><label role="radio" tabindex="-1"
                                        class="n8n-radio-button _container_18alo_5 _hoverable_18alo_11"
                                        aria-checked="true">
                                        <div class="_button_18alo_11 _small_18alo_43"
                                            data-test-id="radio-button-expression">Expression</div>
                                    </label></div>
                            </div>
                        </div>
                    </div>
                </label>
                <div>
                    <div data-test-id="parameter-input" class="el-tooltip__trigger">
                        <div data-v-cd9c3ad1="" class="parameter-value-container" data-test-id="parameter-input-event">
                            <!---->
                            <div data-v-cd9c3ad1="" class="parameter-input ignore-key-press" style="width: 100%;">
                                <div data-v-cd9c3ad1="" class="n8n-select _container_14brn_20"
                                    title="Parameter: &quot;event&quot;"><!---->
                                    <div class="el-select el-select--small" popperappendtobody="false"
                                        limitpopperwidth="false">
                                        <div class="select-trigger el-tooltip__trigger el-tooltip__trigger">
                                            <!--v-if--><!-- fix: https://github.com/element-plus/element-plus/issues/11415 --><!--v-if-->
                                            <div class="el-input el-input--small el-input--suffix">
                                                <!-- input --><!-- prepend slot --><!--v-if-->
                                                <div class="el-input__wrapper"><!-- prefix slot --><!--v-if--><input
                                                        class="el-input__inner" type="text" autocomplete="off"
                                                        tabindex="0" placeholder="Select" id="el-id-412-1171"
                                                        readonly=""><!-- suffix slot --><span
                                                        class="el-input__suffix"><span class="el-input__suffix-inner"><i
                                                                class="el-icon el-select__caret el-select__icon"><svg
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    viewBox="0 0 1024 1024">
                                                                    <path fill="currentColor"
                                                                        d="M831.872 340.864 512 652.672 192.128 340.864a30.592 30.592 0 0 0-42.752 0 29.12 29.12 0 0 0 0 41.6L489.664 714.24a32 32 0 0 0 44.672 0l340.288-331.712a29.12 29.12 0 0 0 0-41.728 30.592 30.592 0 0 0-42.752 0z">
                                                                    </path>
                                                                </svg></i><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--></span></span>
                                                </div><!-- append slot --><!--v-if-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!---->
                        </div><!---->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="" data-test-id="parameter-item"><!---->
        <div class="parameter-item"><!---->
            <div class="_container_1woiu_5" nodevalues="[object Object]" data-test-id="input-label"><label
                    class="n8n-input-label _inputLabel_1woiu_10 _heading_1woiu_80 _small_1woiu_89 _overflow_1woiu_84">
                    <div class="_title_1woiu_29"><span
                            class="n8n-text _text-dark_sif4m_46 _size-small_sif4m_28 _regular_sif4m_9">Simplify
                            <!----></span></div><span class="_infoIcon_1woiu_14 _hidden_1woiu_72"><span
                            class="n8n-text _compact_sif4m_38 _size-small_sif4m_28 _regular_sif4m_9 n8n-icon el-tooltip__trigger el-tooltip__trigger n8n-icon el-tooltip__trigger el-tooltip__trigger"><svg
                                class="svg-inline--fa fa-question-circle fa-w-16 _small_yw9fy_17" aria-hidden="true"
                                focusable="false" data-prefix="fas" data-icon="question-circle" role="img"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path class="" fill="currentColor"
                                    d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z">
                                </path>
                            </svg></span></span>
                    <div class="_overlay_1woiu_23"></div>
                    <div class="_options_1woiu_18" data-test-id="undefined-parameter-input-options-container">
                        <div class="_container_tvfco_5">
                            <div class="_controlsContainer_tvfco_16">
                                <div class=""><span class="_container_13dqp_5" data-test-id="action-toggle"
                                        color="foreground-xdark">
                                        <div class="el-dropdown"><span
                                                class="_button_13dqp_9 undefined el-tooltip__trigger el-tooltip__trigger"
                                                id="el-id-412-1154" role="button" tabindex="0"
                                                aria-controls="el-id-412-1155" aria-expanded="false"
                                                aria-haspopup="menu"><span
                                                    class="n8n-text _compact_sif4m_38 _size-small_sif4m_28 _regular_sif4m_9 n8n-icon n8n-icon"><svg
                                                        class="svg-inline--fa fa-ellipsis-v fa-w-6 _small_yw9fy_17"
                                                        aria-hidden="true" focusable="false" data-prefix="fas"
                                                        data-icon="ellipsis-v" role="img"
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512">
                                                        <path class="" fill="currentColor"
                                                            d="M96 184c39.8 0 72 32.2 72 72s-32.2 72-72 72-72-32.2-72-72 32.2-72 72-72zM24 80c0 39.8 32.2 72 72 72s72-32.2 72-72S135.8 8 96 8 24 40.2 24 80zm0 352c0 39.8 32.2 72 72 72s72-32.2 72-72-32.2-72-72-72-72 32.2-72 72z">
                                                        </path>
                                                    </svg></span></span><!--v-if--></div>
                                    </span></div>
                                <div role="radiogroup" class="n8n-radio-buttons _radioGroup_1kp8c_5"><label role="radio"
                                        tabindex="-1" class="n8n-radio-button _container_18alo_5 _hoverable_18alo_11"
                                        aria-checked="true">
                                        <div class="_button_18alo_11 _active_18alo_11 _small_18alo_43"
                                            data-test-id="radio-button-fixed">Fixed</div>
                                    </label><label role="radio" tabindex="-1"
                                        class="n8n-radio-button _container_18alo_5 _hoverable_18alo_11"
                                        aria-checked="true">
                                        <div class="_button_18alo_11 _small_18alo_43"
                                            data-test-id="radio-button-expression">Expression</div>
                                    </label></div>
                            </div>
                        </div>
                    </div>
                </label>
                <div>
                    <div data-test-id="parameter-input" class="el-tooltip__trigger">
                        <div data-v-cd9c3ad1="" class="" data-test-id="parameter-input-simple"><!---->
                            <div data-v-cd9c3ad1="" class="parameter-input ignore-key-press" style="width: 100%;">
                                <div data-v-cd9c3ad1="" class="el-switch is-checked switch-input"
                                    style="--el-switch-on-color: #13ce66;"><input class="el-switch__input"
                                        type="checkbox" role="switch" aria-checked="true" aria-disabled="false" name=""
                                        true-value="true" false-value="false" id="el-id-412-1172"><!--v-if--><span
                                        class="el-switch__core"><!--v-if-->
                                        <div class="el-switch__action"><!--v-if--></div>
                                    </span><!--v-if--></div>
                            </div><!---->
                        </div><!---->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="" data-test-id="parameter-item"><!---->
        <div class="multi-parameter"><!---->
            <div class="_container_1woiu_5" data-test-id="input-label"><label
                    class="n8n-input-label _inputLabel_1woiu_10 _heading_1woiu_80 _underline_1woiu_97 _small_1woiu_89">
                    <div class="_title_1woiu_29"><span
                            class="n8n-text _text-dark_sif4m_46 _size-small_sif4m_28 _bold_sif4m_5">Filters
                            <!----></span></div><!----><!----><!---->
                </label></div>
            <div class="collection-parameter">
                <div class="collection-parameter-wrapper">
                    <div class="no-items-exist"><span class="n8n-text _size-small_sif4m_28 _regular_sif4m_9">No
                            properties</span></div>
                    <div class="parameter-input-list-wrapper">
                        <div class="indent"></div>
                    </div>
                    <div class="param-options">
                        <div class="add-option">
                            <div class="n8n-select _container_14brn_20"><!---->
                                <div class="el-select el-select--small" popperappendtobody="false"
                                    limitpopperwidth="false">
                                    <div class="select-trigger el-tooltip__trigger el-tooltip__trigger">
                                        <!--v-if--><!-- fix: https://github.com/element-plus/element-plus/issues/11415 --><!--v-if-->
                                        <div class="el-input el-input--small el-input--suffix">
                                            <!-- input --><!-- prepend slot --><!--v-if-->
                                            <div class="el-input__wrapper"><!-- prefix slot --><!--v-if--><input
                                                    class="el-input__inner" type="text" readonly="" autocomplete="off"
                                                    tabindex="0" placeholder="Add Filter"
                                                    id="el-id-412-1173"><!-- suffix slot --><span
                                                    class="el-input__suffix"><span class="el-input__suffix-inner"><i
                                                            class="el-icon el-select__caret el-select__icon"><svg
                                                                xmlns="http://www.w3.org/2000/svg"
                                                                viewBox="0 0 1024 1024">
                                                                <path fill="currentColor"
                                                                    d="M831.872 340.864 512 652.672 192.128 340.864a30.592 30.592 0 0 0-42.752 0 29.12 29.12 0 0 0 0 41.6L489.664 714.24a32 32 0 0 0 44.672 0l340.288-331.712a29.12 29.12 0 0 0 0-41.728 30.592 30.592 0 0 0-42.752 0z">
                                                                </path>
                                                            </svg></i><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--><!--v-if--></span></span>
                                            </div><!-- append slot --><!--v-if-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!---->
</div>